:root {
  /* ***** font size ***** */
  font-size: calc(4 * ((100vw - 320px) / 1600) + 16px);
  --txt-xxLarge: 3em;
  --txt-xLarge: 2em;
  --txt-large: 1.5em;
  --txt-regular: 1em;
  --txt-small: 0.9em;
  --txt-xSmall: 0.8em;
  --txt-xxSmall: 0.6em;
  /* ***** width ***** */
  --width-pc: calc(860px + 10vw);
  --width-tb: 80%;
  --width-sp: 92%;
  /* ***** color ***** */
  --base-bg: rgb(235, 235, 235);
  --dark-txt: rgb(68, 68, 68);
  --light-txt: rgb(245, 245, 245);
}
/* ****************************** */
/* Reset */
/* ****************************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
button {
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
img {
  width: 100%;
}
/* ****************************** */
/* common */
/* ****************************** */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--dark-txt);
}
h1 {
  font-family: "Yomogi", cursive;
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-family: "Yomogi", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.pc-hidden {
  display: none;
}
.sp-hidden {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 750px) {
  .pc-hidden {
    display: inline-block;
  }
  .sp-hidden {
    display: none;
  }
}
/* ****************************** */
/* content */
/* ****************************** */
.contents-wrap {
  display: flex;
  justify-content: center;
}
.contents-wrap li {
  padding: 2%;
}
.contents-wrap li img {
  border-radius: 5px;
}
.thumbnail-title {
  text-align: center !important;
  font-weight: 700;
}
.thumbnail-title a {
  display: block;
  color: var(--txt-dark);
}
.content-space {
  text-align: center;
  color: #fff;
  padding: 30px 30px 15px;
  width: 40vw;
}
.content-space a {
  display: block;
  color: #fff;
  padding: 15px 0;
  opacity: 0.6;
}
.content-space a,
.notes {
  font-size: var(--txt-small);
}
.content-space a:hover {
  opacity: 1;
}
.content-space .play-wrap {
  position: relative;
}
.content-space .fa-circle-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
.content-date {
  font-size: var(--txt-xSmall);
}
.content-title {
  font-size: var(--txt-regular);
  margin-top: 5px;
}
/* ****************************** */
/* タブレット */
/* ****************************** */
@media screen and (max-width: 960px) {
}
/* ****************************** */
/* スマホ */
/* ****************************** */
@media screen and (max-width: 750px) {
  .contents-wrap {
    flex-direction: column;
  }
  .contents-wrap li {
    margin-bottom: 10%;
  }
  .content-space {
    width: 92vw;
  }
  .content-space a,
  .notes {
    font-size: 0.6rem;
  }
  .content-date {
    font-size: 0.5rem;
  }
  .content-title {
    font-size: 0.8rem;
  }
  #closeBtn .bar {
    width: 20px;
    height: 2px;
  }
}
